@font-face {
    font-family: 'jaapokkisubtractregularRg';
    src: url('../../fonts/jaapokkisubtract-regular.eot');
    src: url('../../fonts/jaapokkisubtract-regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/jaapokkisubtract-regular.woff') format('woff'),
    url('../../fonts/jaapokkisubtract-regular.ttf') format('truetype'),
    url('../../fonts/jaapokkisubtract-regular.svg#boycott') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'jaapokkienchanceregularRg';
    src: url('../../fonts/jaapokkienchance-regular.eot');
    src: url('../../fonts/jaapokkienchance-regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/jaapokkienchance-regular.woff') format('woff'),
    url('../../fonts/jaapokkienchance-regular.ttf') format('truetype'),
    url('../../fonts/jaapokkienchance-regular.svg#boycott') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,700');